<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Reports List Loader</servlet-name>
    <servlet-class>com.synisys.training.report.controller.ReportsListLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports List Loader</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report Chooser</servlet-name>
    <servlet-class>com.synisys.training.report.controller.ReportChooser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report Chooser</servlet-name>
    <url-pattern>/loadReport</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
</listener>
  <listener>
    <listener-class>com.synisys.training.Initializer</listener-class>
  </listener>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
</web-app>